body {
  --G_Title_PrimaryNormalColor: #fff;
  --G_Text_PrimaryNormalColor: #fff;
  --G_Bg_PrimaryNormalColor: #202124;
  --G_Line_PrimarybgNormalColor: #3C4043;
  color: #fff;
}

body,
.in-editor,
.createGroupChat,
.UnitedInvite_root,
.user-info .user-avatar .edit-icon,
.page-setting-new .setting-content .left-frame,
.larkc-options--option,
.lark-web-modal-content,
.quickJump_hint,
.morePanel,
.feedFilterMask,
.feedFilter,
.chatSidebar_sidebar,
.height-limit-cut-modal:after {
  background-color: var(--G_Bg_PrimaryNormalColor);
}

.height-limit-cut-modal {
  background-image: linear-gradient(-180deg,transparent,var(--G_Bg_PrimaryNormalColor));
}

.status-text .content,
.mobile-input-code,
.mobile-input-phone,
.base-input,
.quickJump_input,
.chat-name-input,
.larkc-searchInput--input,
.larkc-usercard__footer__input,
.empty-placeholder-input,
.memberChoosePanel__searchInputEle {
  background-color: var(--G_Bg_PrimaryNormalColor);
  color: #fff;
}

.ExternalContactsSearch_list,
.messageTip__countTip,
.quick-jump-wrapper,
.lark-mention-box,
.larkc-modall,
.emoji,
.larkc-options,
.mentionSuggestions,
.passport-join_team-widget,
.message-section-left,
.read-status,
.editor-more-panel,
.reactionPanelContainer {
  background: #202124;
  border: 1px solid #3C4043;
}

.feedFilterSectionOption:hover,
.feedFilterSectionHeader:before,
.quickJump_box:after,
.larkc-usercard,
.read-status .read-list:last-child:after,
.simple-publish-box .reply-title,
.tenantUserCard,
.lark-modal-content,
.unsupportedFeedWindow,
.create-group,
.reactionPanel:before {
  background-color: #3C4043;
}

.contactTab,
.reactionPanel,
.lark-chat .lark-chat-left,
.chatContainer,
.appNavbar,
.feedFilterHeader,
.feedFilterSectionHeader,
.feedFilterSectionOption,
.simple-publish-box,
.sideBarMenu,
.toolbar-panel,
.uni-btn-default,
.larklet-extension-component,
.quick-jump-enter-com__box,
.groupAuth,
.groupAuth_searchWrapper,
.chatSearch_nav,
.chatSearch-content,
.chatSearch_inputContainer,
.chatSearch_input,
.pinSearch_inputContainer,
.pinSearch_input,
.pins_sidebar,
.pins_sidebar_header,
.switch-container,
.base-image-message.larkw-img__wrapper,
.chatwin-welcome,
.search-input-container,
.create-group .group-info .group-info-input,
.createCommonGroup_item-memberSelect .item-content,
.larkc-searchInput,
.ExternalContact_frame,
.ExternalContactsSearch_empty,
.page-setting-new .setting-content .right-frame,
.larkc-select--selectorContainer,
.box-item-wrapper,
.base-code-box,
.larkc-usercard__footer-buttons,
.base-button,
.scroll-done,
.add-user-to-group,
.page-loading {
  background-color: transparent;
}

.contactPage,
.UnitedInvite_closeIcon,
.rich-editzone,
.tenantUserCard_link,
.page-setting-new .setting-header,
.page-setting-new .setting-content .right-frame,
.page-setting-new .setting-content .left-frame,
.larkc-select--selectorContainer,
.larkc-options,
.base-title-container .base-title-title,
.box-item-content-title,
.base-button,
.simple-publish-box,
.jumpItem_nameWrapper,
.read-status .read-list .count,
.morePanelItem,
.editor-more-panel .list-item .content .label,
[class^="text-line-"],
[class*=" text-line-"] {
  color: #fff;
}

.base-code-box-input {
  color: #fff;
  -webkit-text-fill-color: #fff;
  background-color: #333333;
  height: 30px;
}

.height-limit-btn {
  background: #333333;
  color: #fff;
}

.larkc-card:hover,
.contactPage-nav-divider,
.organizationDepartments>.department:before,
.contactPageNav_item.active>.larkc-card,
.contactTab_body.group>.groupTabs:before,
.SharingCard_link,
.editor-more-panel .list-item:hover,
.morePanelItem:hover,
.morePanelItem_checked,
.app-card,
.app-card .app-footer,
.reaction-item,
.tenantUserCard_link:hover,
.sticker-set-toolbar,
.sticker-set-toolbar .scroller-item.choose {
  background-color: #333333;
}

.contactPageNav,
.contactTab_header,
.larkc-folder-card {
  border-color: #333;
}

.button-text-link:hover {
  background-color: #222;
}

.SharingCard_title,
.larkc-editable-text,
.larkc-modall-title,
.groupAuth,
.groupAuth_groupName,
.chatSearch-content,
.chatSearch_input,
.chatSearchItem_desc,
.chatSearch_defaultShow_txt,
.setting-button-text,
.pinSearch_input,
.menuSidebar_titleBar,
.reaction-item,
.UnitedInvite_closeIcon,
.reaction-user:hover,
.app-content-item-right {
  color: #fff;
}

.createGroupChat_title,
.createCommonGroup_item .item-title,
.url-preview-header-title,
.url-preview-content,
.user-setting-header .right .title,
.unsupportedFeedWindow-title,
.lark-modal-header .header-title,
.larkw-search-picker-drl-tree-node-content-wrap,
.larkw-search-picker-hint,
.larkw-search-picker-select-option-name,
.select-item-info-name,
.create-group .group-info,
.search-input-container input,
.create-group .group-info .group-info-input,
.message-header,
.message-post,
.UnitedInvite_title,
.ExternalContactsSearch_empty,
.notify-setting .sound-text,
.feedCardName {
  color: #fff;
}

.page-setting-new .setting-content .left .sidebarCard_icon {
  fill: #fff;
}

.app-card .app-footer:before,
.team-discovery-group-item-sep,
.page-setting-new .setting-line,
.page-setting-new .setting-content .right .all-setting .setting-section-line,
.lark-chat .lark-chat-gap,
.post-editor-statusbar:before,
.groupAuth_infoMember:nth-child(2n):before {
  background-color: #3C4043;
}

.larkc-usercard__footer__input,
.page-setting-new .setting-content .left-frame,
.feedFilter,
.chatWindow_header,
.chatSearch_nav,
.groupAuth_header,
.groupAuth_list,
.groupAuth_search,
.pinSearch_inputWrap,
.settingListItems,
.team-discovery-group-list,
.morePanel:after,
.settingItem {
  border-color: #3C4043;
}

.tenantUserCard_status,
.tenantUserCard_linkLine {
  border-color: #62686c;
}

.in-editor {
  border-top: 1px solid #3C4043;
}

.app-container {
  border-top: 1px solid #3C4043;
}

.chatEditor {
  border-top: 1px #3C4043 solid;
  padding-top: 20px;
}

.appNavbar {
  border-right: 1px solid #3C4043;
}

.quick-jump-enter-com__box,
.message-section-left,
.message-item .toolbar-panel,
.menuSidebar_titleBar,
.chatSearch_inputWrap,
.chatSidebar_sidebar {
  border-color: #3C4043;
}

.sideBarMenu {
  border-left: 1px solid #3C4043;
}

.toolbar-panel .toolbar-item:before {
  background-color: #3C4043;
}

.messageItem-divider .line {
  background-color: #3C4043;
}

.feedCard {
  transition: none;
}

.feedCard:hover:not(.feedCard_active) {
  background-color: #3D3D3D;
}

.link,
.message-not-self .mention {
  color: #fff;
  text-decoration: underline #a1a1a1 dashed;
  text-underline-offset: 3px;
}

.chatSearchItem-active,
.navbarMenu_active,
.page-setting-new .setting-content .card.choose,
.page-setting-new .setting-content .card:hover,
.organizationOrContactTabItem:hover,
.memberChoosePanel__memberItem:hover {
  background: #0063CC;
}

.larkc-badge-overflow {
  background-color: #3D3D3D;
  border-color: #3D3D3D;
  background-image: url("data:image/svg+xml,%3Csvg height='200' viewBox='0 0 1024 1024' width='200' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff'%3E%3Cpath d='m176 511a56 56 0 1 0 112 0 56 56 0 1 0 -112 0z'/%3E%3Cpath d='m456 511a56 56 0 1 0 112 0 56 56 0 1 0 -112 0z'/%3E%3Cpath d='m736 511a56 56 0 1 0 112 0 56 56 0 1 0 -112 0z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}

.larkc-badge-count {
  background-color: #3D3D3D;
  border-color: #3D3D3D;
}

.larkc-tag {
  background-color: #000000;
}

.feedCard_active,
.feedCard_active:before {
  background-color: #0063CC !important;
}

.lark-web-modal-mask,
#__passport_join_team_container {
  background: rgb(0 0 0 / 75%);
}

body > div > div:not([class]):not([id]) {
  visibility: hidden;
}
